@model OrderItemViewModel;

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Name">
    <div class="card-body">
        <h3>@Model.Name</h3>
        <p>Vendor: @Model.Vendor</p>
        <p>Price: @String.Format("{0:f2}", Model.Price) BGN</p>
        <p>Quantity: @Model.Quantity</p>
        <p>Total: @String.Format("{0:f2}", Model.Total) BGN</p>
        <a asp-controller="Item" asp-action="Edit" asp-route-id="@Model.Id"
           class="btn btn-warning">Edit</a>
        <a asp-controller="Item" asp-action="Remove" asp-route-id="@Model.Id"
           class="btn btn-danger">Remove</a>
    </div>
</div>
