@model ProductServiceModel
@inject IProductService productService
@inject IVendorService vendorService

<div class="col-md-4">
	<div class="card mb-3">
		<img class="card-img-top" src="@Model.ImageUrl" alt="House Image">
		<div class="card-body text-center">
			<h4>@Model.Name</h4>
			<h6>
				Price:
				<b>@String.Format("{0:f2}", Model.Price) BGN</b>
			</h6>
			<h6>Status: @Model.Status</h6>
			<h6>Vendor: @Model.Vendor</h6>
			<br />
			<a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
			@if (this.User.Identity.IsAuthenticated)
			{
				@if (await productService.HasVendorWithId(Model.Id, User.Id()))
				{
					<a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id"
			   class="btn btn-warning">Edit</a>
					<a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id"
			   class="btn btn-danger">Delete</a>
				}
				@if (!Model.IsBought && (await productService.HasVendorWithId(Model.Id, User.Id())) == false)
				{
					@*<form class="input-group-sm" asp-controller="Product"
			asp-action="Buy" asp-route-id="@Model.Id" method="post">
			<input class="btn btn-primary" type="submit" value="Buy" />
			</form>*@
					<a asp-controller="Product" asp-action="Buy" asp-route-id="@Model.Id"
			   class="btn btn-success">Buy</a>
				}
				@*else if (await houseService.IsRentedByUser(Model.Id, User.Id()))
			{
			<form asp-controller="House" asp-action="Leave"
			asp-route-id="@Model.Id" method="post">
			<input class="btn btn-primary" type="submit" value="Leave" />
			</form>
			}*@
			}
		</div>
	</div>
</div>
